body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u24248 {
  position:absolute;
  left:52px;
  top:94px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u24249 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u24250 {
  position:absolute;
  left:52px;
  top:94px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u24251 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u24252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24252 {
  position:absolute;
  left:53px;
  top:95px;
  width:375px;
  height:64px;
}
#u24253 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u24254 {
  position:absolute;
  left:224px;
  top:128px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u24255 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u24256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u24256 {
  position:absolute;
  left:53px;
  top:95px;
  width:375px;
  height:24px;
}
#u24257 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u24258 {
  position:absolute;
  left:442px;
  top:112px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24259 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u24260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24260 {
  position:absolute;
  left:490px;
  top:149px;
  width:442px;
  height:44px;
}
#u24261 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u24262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24262 {
  position:absolute;
  left:490px;
  top:115px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24263 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u24265 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u24265_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24265_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24266 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u24266_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24266_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u24267 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u24268 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u24273 {
  position:absolute;
  left:167px;
  top:32px;
  width:24px;
  height:27px;
}
#u24274 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u24275 {
  position:absolute;
  left:201px;
  top:35px;
  width:112px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u24276 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u24277_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:380px;
  height:5px;
}
#u24277 {
  position:absolute;
  left:52px;
  top:67px;
  width:377px;
  height:2px;
}
#u24278 {
  position:absolute;
  left:2px;
  top:-7px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24279 {
  position:absolute;
  left:167px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u24279_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24279_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24280 {
  position:absolute;
  left:167px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u24280_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24280_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u24285 {
  position:absolute;
  left:686px;
  top:35px;
  width:102px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u24286 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u24287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24287 {
  position:absolute;
  left:652px;
  top:35px;
  width:24px;
  height:24px;
}
#u24288 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24289_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:463px;
  height:5px;
}
#u24289 {
  position:absolute;
  left:490px;
  top:67px;
  width:460px;
  height:2px;
}
#u24290 {
  position:absolute;
  left:2px;
  top:-7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24291 {
  position:absolute;
  left:652px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u24291_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24291_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24292 {
  position:absolute;
  left:652px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u24292_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24292_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u24297 {
  position:absolute;
  left:1112px;
  top:35px;
  width:105px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u24298 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u24299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u24299 {
  position:absolute;
  left:1078px;
  top:36px;
  width:24px;
  height:20px;
}
#u24300 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24301_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:5px;
}
#u24301 {
  position:absolute;
  left:960px;
  top:67px;
  width:375px;
  height:2px;
}
#u24302 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24303 {
  position:absolute;
  left:1078px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u24303_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24303_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24304 {
  position:absolute;
  left:1127px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u24304_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24304_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u24306 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u24307 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
#u24309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8001px;
}
#u24309 {
  position:absolute;
  left:8px;
  top:771px;
  width:1px;
  height:8000px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u24310 {
  position:absolute;
  left:8px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u24311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(176, 177, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24311 {
  position:absolute;
  left:53px;
  top:701px;
  width:375px;
  height:60px;
}
#u24312 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24314 {
  position:absolute;
  left:83px;
  top:710px;
  width:28px;
  height:28px;
}
#u24315 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u24316 {
  position:absolute;
  left:86px;
  top:741px;
  width:25px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u24317 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u24318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24319 {
  position:absolute;
  left:176px;
  top:710px;
  width:28px;
  height:28px;
}
#u24320 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u24321 {
  position:absolute;
  left:179px;
  top:741px;
  width:25px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u24322 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u24323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24324 {
  position:absolute;
  left:373px;
  top:710px;
  width:28px;
  height:28px;
}
#u24325 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#2D2E26;
}
#u24326 {
  position:absolute;
  left:381px;
  top:741px;
  width:13px;
  height:18px;
  font-size:12px;
  color:#2D2E26;
}
#u24327 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u24329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24329 {
  position:absolute;
  left:393px;
  top:710px;
  width:8px;
  height:8px;
}
#u24330 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24332 {
  position:absolute;
  left:274px;
  top:710px;
  width:28px;
  height:28px;
}
#u24333 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u24334 {
  position:absolute;
  left:276px;
  top:741px;
  width:25px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u24335 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u24337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24337 {
  position:absolute;
  left:294px;
  top:710px;
  width:8px;
  height:8px;
}
#u24338 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24339 {
  position:absolute;
  left:53px;
  top:159px;
  width:375px;
  height:542px;
  overflow:hidden;
}
#u24339_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24339_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:562px;
}
#u24340 {
  position:absolute;
  left:0px;
  top:-20px;
  width:375px;
  height:562px;
}
#u24341 {
  position:absolute;
  left:2px;
  top:273px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u24342 {
  position:absolute;
  left:121px;
  top:169px;
  width:120px;
  height:29px;
  font-size:14px;
  color:#1E1E1E;
}
#u24343 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u24344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(45, 46, 38, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u24344 {
  position:absolute;
  left:241px;
  top:169px;
  width:120px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u24345 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u24346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24346 {
  position:absolute;
  left:389px;
  top:129px;
  width:20px;
  height:20px;
}
#u24347 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
