body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5209 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5210 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u5211 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:830px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u5212 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:830px;
}
#u5213 {
  position:absolute;
  left:2px;
  top:407px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u5214 {
  position:absolute;
  left:33px;
  top:277px;
  width:93px;
  height:93px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u5216 {
  position:absolute;
  left:33px;
  top:795px;
  width:93px;
  height:93px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5219 {
  position:absolute;
  left:146px;
  top:300px;
  width:120px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5220 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5221 {
  position:absolute;
  left:146px;
  top:331px;
  width:120px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5222 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u5223 {
  position:absolute;
  left:33px;
  top:409px;
  width:93px;
  height:93px;
}
#u5224 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5226 {
  position:absolute;
  left:146px;
  top:416px;
  width:120px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5228 {
  position:absolute;
  left:146px;
  top:447px;
  width:184px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u5230 {
  position:absolute;
  left:33px;
  top:544px;
  width:93px;
  height:93px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5233 {
  position:absolute;
  left:146px;
  top:559px;
  width:120px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5234 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5235 {
  position:absolute;
  left:146px;
  top:590px;
  width:184px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5236 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u5237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u5237 {
  position:absolute;
  left:33px;
  top:673px;
  width:93px;
  height:93px;
}
#u5238 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5240 {
  position:absolute;
  left:146px;
  top:688px;
  width:120px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5242 {
  position:absolute;
  left:146px;
  top:719px;
  width:184px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5243 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u5244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5245 {
  position:absolute;
  left:146px;
  top:818px;
  width:120px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5246 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5247 {
  position:absolute;
  left:146px;
  top:849px;
  width:184px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5249 {
  position:absolute;
  left:158px;
  top:930px;
  width:24px;
  height:24px;
}
#u5250 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5251 {
  position:absolute;
  left:195px;
  top:930px;
  width:24px;
  height:24px;
}
#u5252 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5253 {
  position:absolute;
  left:121px;
  top:930px;
  width:24px;
  height:24px;
}
#u5254 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5255 {
  position:absolute;
  left:231px;
  top:930px;
  width:24px;
  height:24px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5257 {
  position:absolute;
  left:268px;
  top:930px;
  width:24px;
  height:24px;
}
#u5258 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
