body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:726px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9832 {
  position:absolute;
  left:136px;
  top:103px;
  width:42px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9833 {
  position:absolute;
  left:0px;
  top:1px;
  width:42px;
  word-wrap:break-word;
}
#u9834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9834 {
  position:absolute;
  left:100px;
  top:100px;
  width:28px;
  height:28px;
  font-family:'DevanagariMT-Bold', 'Devanagari MT Bold', 'Devanagari MT';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#108EE9;
}
#u9835 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u9836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u9836 {
  position:absolute;
  left:194px;
  top:114px;
  width:210px;
  height:1px;
}
#u9837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u9838 {
  position:absolute;
  left:515px;
  top:114px;
  width:210px;
  height:1px;
}
#u9839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9841 {
  position:absolute;
  left:457px;
  top:103px;
  width:42px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9842 {
  position:absolute;
  left:0px;
  top:1px;
  width:42px;
  word-wrap:break-word;
}
#u9843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9843 {
  position:absolute;
  left:421px;
  top:100px;
  width:28px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9844 {
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u9845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9846 {
  position:absolute;
  left:777px;
  top:103px;
  width:49px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9847 {
  position:absolute;
  left:0px;
  top:1px;
  width:49px;
  word-wrap:break-word;
}
#u9848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9848 {
  position:absolute;
  left:741px;
  top:100px;
  width:28px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u9849 {
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u9850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9852 {
  position:absolute;
  left:130px;
  top:166px;
  width:36px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9853 {
  position:absolute;
  left:0px;
  top:1px;
  width:36px;
  word-wrap:break-word;
}
#u9854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9854 {
  position:absolute;
  left:100px;
  top:164px;
  width:22px;
  height:22px;
  font-family:'DevanagariMT', 'Devanagari MT';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u9855 {
  position:absolute;
  left:6px;
  top:4px;
  width:4px;
  word-wrap:break-word;
}
#u9856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u9856 {
  position:absolute;
  left:182px;
  top:175px;
  width:210px;
  height:1px;
}
#u9857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9859 {
  position:absolute;
  left:438px;
  top:166px;
  width:37px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9860 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9861 {
  position:absolute;
  left:408px;
  top:164px;
  width:22px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9862 {
  position:absolute;
  left:4px;
  top:3px;
  width:14px;
  word-wrap:break-word;
}
#u9863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u9863 {
  position:absolute;
  left:484px;
  top:175px;
  width:210px;
  height:1px;
}
#u9864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9866 {
  position:absolute;
  left:742px;
  top:166px;
  width:41px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9867 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9868 {
  position:absolute;
  left:711px;
  top:164px;
  width:22px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u9869 {
  position:absolute;
  left:4px;
  top:3px;
  width:14px;
  word-wrap:break-word;
}
#u9870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u9871 {
  position:absolute;
  left:96px;
  top:268px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u9872 {
  position:absolute;
  left:18px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-2px 8.5px;
  -ms-transform-origin:-2px 8.5px;
  -moz-transform-origin:-2px 8.5px;
  -webkit-transform-origin:-2px 8.5px;
}
#u9873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u9873 {
  position:absolute;
  left:96px;
  top:333px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u9874 {
  position:absolute;
  left:18px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-2px 8.5px;
  -ms-transform-origin:-2px 8.5px;
  -moz-transform-origin:-2px 8.5px;
  -webkit-transform-origin:-2px 8.5px;
}
#u9875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9876 {
  position:absolute;
  left:130px;
  top:228px;
  width:36px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9877 {
  position:absolute;
  left:0px;
  top:1px;
  width:36px;
  word-wrap:break-word;
}
#u9878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9878 {
  position:absolute;
  left:100px;
  top:226px;
  width:22px;
  height:22px;
  font-family:'DevanagariMT', 'Devanagari MT';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u9879 {
  position:absolute;
  left:6px;
  top:4px;
  width:4px;
  word-wrap:break-word;
}
#u9880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9881 {
  position:absolute;
  left:130px;
  top:292px;
  width:52px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9882 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9883 {
  position:absolute;
  left:100px;
  top:290px;
  width:22px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9884 {
  position:absolute;
  left:4px;
  top:3px;
  width:14px;
  word-wrap:break-word;
}
#u9885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9886 {
  position:absolute;
  left:130px;
  top:357px;
  width:64px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9887 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u9888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9888 {
  position:absolute;
  left:100px;
  top:355px;
  width:22px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u9889 {
  position:absolute;
  left:4px;
  top:3px;
  width:14px;
  word-wrap:break-word;
}
