body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:315px;
}
#u39754 {
  position:absolute;
  left:60px;
  top:39px;
  width:783px;
  height:315px;
}
#u39755 {
  position:absolute;
  left:2px;
  top:150px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:400px;
}
#u39756 {
  position:absolute;
  left:60px;
  top:364px;
  width:720px;
  height:400px;
}
#u39757 {
  position:absolute;
  left:2px;
  top:192px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:392px;
}
#u39758 {
  position:absolute;
  left:60px;
  top:806px;
  width:866px;
  height:392px;
}
#u39759 {
  position:absolute;
  left:2px;
  top:188px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:340px;
}
#u39760 {
  position:absolute;
  left:998px;
  top:67px;
  width:500px;
  height:340px;
}
#u39761 {
  position:absolute;
  left:2px;
  top:162px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:482px;
}
#u39762 {
  position:absolute;
  left:967px;
  top:501px;
  width:773px;
  height:482px;
}
#u39763 {
  position:absolute;
  left:2px;
  top:233px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
