body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u46606 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u46607 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u46608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u46608 {
  position:absolute;
  left:10px;
  top:1800px;
  width:1280px;
  height:1px;
}
#u46609 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:112px;
}
#u46610 {
  position:absolute;
  left:170px;
  top:150px;
  width:960px;
  height:112px;
  font-size:14px;
  line-height:28px;
}
#u46611 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u46612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:277px;
}
#u46612 {
  position:absolute;
  left:293px;
  top:302px;
  width:312px;
  height:277px;
}
#u46613 {
  position:absolute;
  left:2px;
  top:130px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:277px;
}
#u46614 {
  position:absolute;
  left:696px;
  top:302px;
  width:312px;
  height:277px;
}
#u46615 {
  position:absolute;
  left:2px;
  top:130px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u46616 {
  position:absolute;
  left:435px;
  top:590px;
  width:29px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u46617 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u46618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u46618 {
  position:absolute;
  left:838px;
  top:590px;
  width:29px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u46619 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u46620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:280px;
}
#u46620 {
  position:absolute;
  left:170px;
  top:650px;
  width:960px;
  height:280px;
  font-size:14px;
  line-height:28px;
}
#u46621 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u46622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:277px;
}
#u46622 {
  position:absolute;
  left:494px;
  top:970px;
  width:312px;
  height:277px;
}
#u46623 {
  position:absolute;
  left:2px;
  top:130px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u46624 {
  position:absolute;
  left:629px;
  top:1260px;
  width:43px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u46625 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u46626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:308px;
}
#u46626 {
  position:absolute;
  left:160px;
  top:1320px;
  width:960px;
  height:308px;
  font-size:14px;
  line-height:28px;
}
#u46627 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
