body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u45218 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u45219 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u45220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u45220 {
  position:absolute;
  left:10px;
  top:1600px;
  width:1280px;
  height:1px;
}
#u45221 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45222 {
  position:absolute;
  left:170px;
  top:150px;
  width:960px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45223 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:555px;
}
#u45224 {
  position:absolute;
  left:305px;
  top:246px;
  width:312px;
  height:555px;
}
#u45225 {
  position:absolute;
  left:2px;
  top:270px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:555px;
}
#u45226 {
  position:absolute;
  left:683px;
  top:246px;
  width:312px;
  height:555px;
}
#u45227 {
  position:absolute;
  left:2px;
  top:270px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:644px;
}
#u45228 {
  position:absolute;
  left:170px;
  top:840px;
  width:960px;
  height:644px;
  font-size:14px;
  line-height:28px;
}
#u45229 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
