body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u26536 {
  position:absolute;
  left:437px;
  top:171px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26537 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u26538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26538 {
  position:absolute;
  left:524px;
  top:176px;
  width:482px;
  height:22px;
}
#u26539 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u26540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26540 {
  position:absolute;
  left:484px;
  top:174px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26541 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u26542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:858px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26542 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:858px;
}
#u26543 {
  position:absolute;
  left:2px;
  top:421px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26544 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:64px;
}
#u26545 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u26546 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u26547 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u26548 {
  position:absolute;
  left:223px;
  top:175px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u26549 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u26550 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u26551 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u26552 {
  position:absolute;
  left:81px;
  top:210px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u26553 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26554 {
  position:absolute;
  left:68px;
  top:235px;
  width:375px;
  height:80px;
}
#u26555 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26556 {
  position:absolute;
  left:81px;
  top:250px;
  width:20px;
  height:20px;
}
#u26557 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26558 {
  position:absolute;
  left:111px;
  top:252px;
  width:29px;
  height:16px;
}
#u26559 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26560 {
  position:absolute;
  left:257px;
  top:250px;
  width:20px;
  height:20px;
}
#u26561 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26562 {
  position:absolute;
  left:287px;
  top:252px;
  width:89px;
  height:16px;
}
#u26563 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u26564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26564 {
  position:absolute;
  left:81px;
  top:280px;
  width:20px;
  height:20px;
}
#u26565 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26566 {
  position:absolute;
  left:111px;
  top:282px;
  width:209px;
  height:16px;
}
#u26567 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u26568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u26568 {
  position:absolute;
  left:81px;
  top:325px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u26569 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26571 {
  position:absolute;
  left:73px;
  top:355px;
  width:60px;
  height:60px;
}
#u26572 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26573 {
  position:absolute;
  left:143px;
  top:355px;
  width:280px;
  height:32px;
}
#u26574 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u26575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u26575 {
  position:absolute;
  left:143px;
  top:400px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26576 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u26577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u26577 {
  position:absolute;
  left:143px;
  top:435px;
  width:295px;
  height:1px;
}
#u26578 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u26579 {
  position:absolute;
  left:381px;
  top:400px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26580 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u26581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26582 {
  position:absolute;
  left:73px;
  top:446px;
  width:60px;
  height:60px;
}
#u26583 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26584 {
  position:absolute;
  left:143px;
  top:446px;
  width:280px;
  height:32px;
}
#u26585 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u26586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u26586 {
  position:absolute;
  left:143px;
  top:491px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26587 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u26588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u26588 {
  position:absolute;
  left:143px;
  top:526px;
  width:295px;
  height:1px;
}
#u26589 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u26590 {
  position:absolute;
  left:381px;
  top:491px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26591 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u26592 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26593 {
  position:absolute;
  left:73px;
  top:537px;
  width:60px;
  height:60px;
}
#u26594 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26595 {
  position:absolute;
  left:143px;
  top:537px;
  width:280px;
  height:32px;
}
#u26596 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u26597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u26597 {
  position:absolute;
  left:143px;
  top:582px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26598 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u26599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u26599 {
  position:absolute;
  left:143px;
  top:617px;
  width:295px;
  height:1px;
}
#u26600 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u26601 {
  position:absolute;
  left:381px;
  top:582px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u26602 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u26603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(176, 177, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26603 {
  position:absolute;
  left:68px;
  top:938px;
  width:375px;
  height:60px;
}
#u26604 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u26605 {
  position:absolute;
  left:81px;
  top:960px;
  width:227px;
  height:17px;
  font-size:12px;
}
#u26606 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u26607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u26607 {
  position:absolute;
  left:353px;
  top:952px;
  width:80px;
  height:32px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u26607_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u26607.selected {
  opacity:0.4;
}
#u26608 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u26609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26609 {
  position:absolute;
  left:409px;
  top:263px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26610 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26611 {
  position:absolute;
  left:68px;
  top:348px;
  width:375px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26612 {
  position:absolute;
  left:68px;
  top:235px;
  width:375px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u26614 {
  position:absolute;
  left:68px;
  top:638px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u26615 {
  position:absolute;
  left:20px;
  top:15px;
  width:353px;
  word-wrap:break-word;
}
#u26616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u26616 {
  position:absolute;
  left:370px;
  top:655px;
  width:25px;
  height:16px;
  font-size:12px;
  color:#C9CABB;
}
#u26617 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u26618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26618 {
  position:absolute;
  left:403px;
  top:648px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u26619 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u26621 {
  position:absolute;
  left:68px;
  top:698px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u26622 {
  position:absolute;
  left:20px;
  top:15px;
  width:353px;
  word-wrap:break-word;
}
#u26623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u26623 {
  position:absolute;
  left:332px;
  top:715px;
  width:61px;
  height:16px;
  font-size:12px;
  color:#C9CABB;
}
#u26624 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u26625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26625 {
  position:absolute;
  left:403px;
  top:708px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u26626 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26628 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u26628_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26628_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26629 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u26629_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26629_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u26630 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u26631 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
