body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:851px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u51834 {
  position:absolute;
  left:20px;
  top:120px;
  width:377px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u51835 {
  position:absolute;
  left:22px;
  top:22px;
  width:353px;
  word-wrap:break-word;
}
#u51836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u51836 {
  position:absolute;
  left:353px;
  top:138px;
  width:24px;
  height:24px;
}
#u51837 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51839 {
  position:absolute;
  left:21px;
  top:220px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51840 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u51841 {
  position:absolute;
  left:21px;
  top:180px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u51842 {
  position:absolute;
  left:21px;
  top:252px;
  width:377px;
  height:667px;
}
#u51843 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51846 {
  position:absolute;
  left:22px;
  top:252px;
  width:125px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51847 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u51848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51848 {
  position:absolute;
  left:146px;
  top:252px;
  width:127px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51849 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u51850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51850 {
  position:absolute;
  left:272px;
  top:252px;
  width:125px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51851 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u51852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51853 {
  position:absolute;
  left:494px;
  top:220px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51854 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u51855 {
  position:absolute;
  left:494px;
  top:180px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u51856 {
  position:absolute;
  left:494px;
  top:252px;
  width:377px;
  height:667px;
}
#u51857 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u51859 {
  position:absolute;
  left:495px;
  top:859px;
  width:375px;
  height:60px;
}
#u51860 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51862 {
  position:absolute;
  left:529px;
  top:866px;
  width:28px;
  height:28px;
}
#u51863 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AAD19;
}
#u51864 {
  position:absolute;
  left:531px;
  top:896px;
  width:25px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AAD19;
}
#u51865 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u51866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51867 {
  position:absolute;
  left:623px;
  top:866px;
  width:28px;
  height:28px;
}
#u51868 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51869 {
  position:absolute;
  left:619px;
  top:896px;
  width:37px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51870 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u51871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51872 {
  position:absolute;
  left:719px;
  top:866px;
  width:28px;
  height:28px;
}
#u51873 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51874 {
  position:absolute;
  left:721px;
  top:896px;
  width:25px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51875 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u51876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51877 {
  position:absolute;
  left:809px;
  top:866px;
  width:28px;
  height:28px;
}
#u51878 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51879 {
  position:absolute;
  left:817px;
  top:896px;
  width:13px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51880 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u51881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u51881 {
  position:absolute;
  left:545px;
  top:862px;
  width:16px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u51882 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u51884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51884 {
  position:absolute;
  left:741px;
  top:864px;
  width:8px;
  height:8px;
}
#u51885 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
