body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-24px;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15553 {
  position:absolute;
  left:24px;
  top:24px;
  width:200px;
  height:100px;
}
#u15554 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
