body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22113 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u22114 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22115 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:64px;
}
#u22116 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u22117 {
  position:absolute;
  left:239px;
  top:175px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u22118 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u22119 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u22120 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22121 {
  position:absolute;
  left:398px;
  top:174px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#34352C;
}
#u22122 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22123 {
  position:absolute;
  left:88px;
  top:174px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u22124 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22125 {
  position:absolute;
  left:358px;
  top:174px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22126 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22127 {
  position:absolute;
  left:374px;
  top:176px;
  width:8px;
  height:8px;
}
#u22128 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u22129 {
  position:absolute;
  left:226px;
  top:450px;
  width:60px;
  height:51px;
}
#u22130 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22131 {
  position:absolute;
  left:185px;
  top:526px;
  width:142px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22132 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u22133 {
  position:absolute;
  left:68px;
  top:166px;
  visibility:hidden;
  touch-action:pan-y;
}
#u22133_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  background-image:none;
}
#u22133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  background:inherit;
  background-color:rgba(52, 53, 44, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22134 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
}
#u22135 {
  position:absolute;
  left:2px;
  top:313px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:642px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:6px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 0px 4px rgba(0, 0, 0, 0.349019607843137);
}
#u22136 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:642px;
}
#u22137 {
  position:absolute;
  left:2px;
  top:313px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u22138 {
  position:absolute;
  left:20px;
  top:44px;
  width:48px;
  height:48px;
}
#u22139 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22140 {
  position:absolute;
  left:80px;
  top:47px;
  width:81px;
  height:20px;
}
#u22141 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22142 {
  position:absolute;
  left:80px;
  top:73px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22143 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22144 {
  position:absolute;
  left:51px;
  top:154px;
  width:29px;
  height:20px;
}
#u22145 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22146 {
  position:absolute;
  left:51px;
  top:196px;
  width:29px;
  height:20px;
}
#u22147 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22148 {
  position:absolute;
  left:20px;
  top:196px;
  width:20px;
  height:20px;
}
#u22149 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u22150 {
  position:absolute;
  left:20px;
  top:157px;
  width:20px;
  height:13px;
}
#u22151 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22152 {
  position:absolute;
  left:20px;
  top:242px;
  width:20px;
  height:20px;
}
#u22153 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22154 {
  position:absolute;
  left:51px;
  top:242px;
  width:29px;
  height:20px;
}
#u22155 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22156 {
  position:absolute;
  left:20px;
  top:288px;
  width:20px;
  height:20px;
}
#u22157 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22158 {
  position:absolute;
  left:51px;
  top:288px;
  width:29px;
  height:20px;
}
#u22159 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u22160 {
  position:absolute;
  left:20px;
  top:334px;
  width:20px;
  height:19px;
}
#u22161 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22162 {
  position:absolute;
  left:50px;
  top:334px;
  width:29px;
  height:20px;
}
#u22163 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u22164 {
  position:absolute;
  left:0px;
  top:124px;
  width:240px;
  height:1px;
}
#u22165 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u22166 {
  position:absolute;
  left:0px;
  top:394px;
  width:240px;
  height:1px;
}
#u22167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22168 {
  position:absolute;
  left:92px;
  top:473px;
  width:57px;
  height:20px;
}
#u22169 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22170 {
  position:absolute;
  left:50px;
  top:494px;
  width:140px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22171 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u22172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22172 {
  position:absolute;
  left:50px;
  top:530px;
  width:141px;
  height:21px;
  font-size:16px;
}
#u22173 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u22174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22175 {
  position:absolute;
  left:69px;
  top:1592px;
  width:377px;
  height:668px;
}
#u22176 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22177 {
  position:absolute;
  left:70px;
  top:1593px;
  width:375px;
  height:64px;
}
#u22178 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u22179 {
  position:absolute;
  left:241px;
  top:1626px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u22180 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u22181 {
  position:absolute;
  left:70px;
  top:1593px;
  width:375px;
  height:24px;
}
#u22182 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22183 {
  position:absolute;
  left:400px;
  top:1625px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#34352C;
}
#u22184 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22185 {
  position:absolute;
  left:90px;
  top:1625px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u22186 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22187 {
  position:absolute;
  left:360px;
  top:1625px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22188 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22189 {
  position:absolute;
  left:376px;
  top:1627px;
  width:8px;
  height:8px;
}
#u22190 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(239, 240, 220, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22192 {
  position:absolute;
  left:70px;
  top:1660px;
  width:375px;
  height:80px;
}
#u22193 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u22194 {
  position:absolute;
  left:90px;
  top:1670px;
  width:60px;
  height:60px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#C9CABB;
}
#u22195 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22196 {
  position:absolute;
  left:160px;
  top:1677px;
  width:57px;
  height:20px;
}
#u22197 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22198 {
  position:absolute;
  left:400px;
  top:1688px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u22199 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22200 {
  position:absolute;
  left:160px;
  top:1707px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22201 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22202 {
  position:absolute;
  left:70px;
  top:1617px;
  visibility:hidden;
  touch-action:pan-y;
}
#u22202_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  background-image:none;
}
#u22202_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  background:inherit;
  background-color:rgba(52, 53, 44, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22203 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
}
#u22204 {
  position:absolute;
  left:2px;
  top:313px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:642px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:6px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 0px 4px rgba(0, 0, 0, 0.349019607843137);
}
#u22205 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:642px;
}
#u22206 {
  position:absolute;
  left:2px;
  top:313px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u22207 {
  position:absolute;
  left:20px;
  top:44px;
  width:48px;
  height:48px;
}
#u22208 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22209 {
  position:absolute;
  left:80px;
  top:47px;
  width:81px;
  height:20px;
}
#u22210 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22211 {
  position:absolute;
  left:80px;
  top:73px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22212 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22213 {
  position:absolute;
  left:51px;
  top:154px;
  width:29px;
  height:20px;
}
#u22214 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22215 {
  position:absolute;
  left:51px;
  top:196px;
  width:29px;
  height:20px;
}
#u22216 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22217 {
  position:absolute;
  left:20px;
  top:196px;
  width:20px;
  height:20px;
}
#u22218 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u22219 {
  position:absolute;
  left:20px;
  top:157px;
  width:20px;
  height:13px;
}
#u22220 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22221 {
  position:absolute;
  left:20px;
  top:242px;
  width:20px;
  height:20px;
}
#u22222 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22223 {
  position:absolute;
  left:51px;
  top:242px;
  width:29px;
  height:20px;
}
#u22224 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22225 {
  position:absolute;
  left:20px;
  top:288px;
  width:20px;
  height:20px;
}
#u22226 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22227 {
  position:absolute;
  left:51px;
  top:288px;
  width:29px;
  height:20px;
}
#u22228 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u22229 {
  position:absolute;
  left:20px;
  top:334px;
  width:20px;
  height:19px;
}
#u22230 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22231 {
  position:absolute;
  left:50px;
  top:334px;
  width:29px;
  height:20px;
}
#u22232 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u22233 {
  position:absolute;
  left:0px;
  top:124px;
  width:240px;
  height:1px;
}
#u22234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u22235 {
  position:absolute;
  left:0px;
  top:394px;
  width:240px;
  height:1px;
}
#u22236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22237 {
  position:absolute;
  left:92px;
  top:473px;
  width:57px;
  height:20px;
}
#u22238 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22239 {
  position:absolute;
  left:50px;
  top:494px;
  width:140px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22240 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u22241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22241 {
  position:absolute;
  left:50px;
  top:530px;
  width:141px;
  height:21px;
  font-size:16px;
}
#u22242 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u22243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22244 {
  position:absolute;
  left:67px;
  top:856px;
  width:377px;
  height:668px;
}
#u22245 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22246 {
  position:absolute;
  left:68px;
  top:857px;
  width:375px;
  height:64px;
}
#u22247 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u22248 {
  position:absolute;
  left:239px;
  top:890px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u22249 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u22250 {
  position:absolute;
  left:68px;
  top:857px;
  width:375px;
  height:24px;
}
#u22251 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22252 {
  position:absolute;
  left:398px;
  top:889px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#34352C;
}
#u22253 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22254 {
  position:absolute;
  left:88px;
  top:889px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u22255 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22256 {
  position:absolute;
  left:358px;
  top:889px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22257 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22258 {
  position:absolute;
  left:374px;
  top:891px;
  width:8px;
  height:8px;
}
#u22259 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u22260 {
  position:absolute;
  left:226px;
  top:1165px;
  width:60px;
  height:51px;
}
#u22261 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9CABB;
}
#u22262 {
  position:absolute;
  left:185px;
  top:1241px;
  width:142px;
  height:17px;
  font-size:12px;
  color:#C9CABB;
}
#u22263 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u22264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(52, 53, 44, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22265 {
  position:absolute;
  left:68px;
  top:857px;
  width:375px;
  height:666px;
}
#u22266 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:360px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22267 {
  position:absolute;
  left:68px;
  top:1163px;
  width:375px;
  height:360px;
}
#u22268 {
  position:absolute;
  left:2px;
  top:172px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22269 {
  position:absolute;
  left:231px;
  top:1182px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u22270 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22271 {
  position:absolute;
  left:68px;
  top:1241px;
  width:375px;
  height:160px;
  overflow:hidden;
}
#u22271_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22271_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(239, 240, 220, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22272 {
  position:absolute;
  left:108px;
  top:0px;
  width:160px;
  height:160px;
  font-size:14px;
}
#u22273 {
  position:absolute;
  left:2px;
  top:121px;
  width:156px;
  word-wrap:break-word;
}
#u22274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(239, 240, 220, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22274 {
  position:absolute;
  left:-72px;
  top:0px;
  width:160px;
  height:160px;
  font-size:14px;
}
#u22275 {
  position:absolute;
  left:2px;
  top:121px;
  width:156px;
  word-wrap:break-word;
}
#u22276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(239, 240, 220, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22276 {
  position:absolute;
  left:287px;
  top:0px;
  width:160px;
  height:160px;
  font-size:14px;
}
#u22277 {
  position:absolute;
  left:2px;
  top:121px;
  width:156px;
  word-wrap:break-word;
}
#u22278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u22278 {
  position:absolute;
  left:158px;
  top:50px;
  width:60px;
  height:60px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#C9CABB;
}
#u22279 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u22280 {
  position:absolute;
  left:-22px;
  top:50px;
  width:60px;
  height:60px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#C9CABB;
}
#u22281 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u22282 {
  position:absolute;
  left:337px;
  top:50px;
  width:60px;
  height:60px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#C9CABB;
}
#u22283 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:8px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22284 {
  position:absolute;
  left:222px;
  top:1426px;
  width:24px;
  height:8px;
}
#u22285 {
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(239, 240, 220, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22286 {
  position:absolute;
  left:282px;
  top:1426px;
  width:8px;
  height:8px;
}
#u22287 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(239, 240, 220, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22288 {
  position:absolute;
  left:260px;
  top:1426px;
  width:8px;
  height:8px;
}
#u22289 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u22290 {
  position:absolute;
  left:96px;
  top:1470px;
  width:320px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u22290_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u22290.selected {
  opacity:0.4;
}
#u22291 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u22292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22292 {
  position:absolute;
  left:410px;
  top:1170px;
  width:24px;
  height:24px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u22293 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u22294 {
  position:absolute;
  left:437px;
  top:171px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u22295 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u22296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22296 {
  position:absolute;
  left:524px;
  top:176px;
  width:482px;
  height:22px;
}
#u22297 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u22298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22298 {
  position:absolute;
  left:484px;
  top:174px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u22299 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
