body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u2442 {
  position:absolute;
  left:52px;
  top:92px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u2443 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u2444 {
  position:absolute;
  left:52px;
  top:92px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u2445 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u2446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2446 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:64px;
}
#u2447 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u2448 {
  position:absolute;
  left:209px;
  top:126px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u2449 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2450 {
  position:absolute;
  left:66px;
  top:124px;
  width:24px;
  height:23px;
}
#u2451 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u2452 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:24px;
}
#u2453 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2454 {
  position:absolute;
  left:202px;
  top:186px;
  width:80px;
  height:80px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2454_img.selected {
}
#u2454.selected {
  opacity:0.4;
}
#u2455 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2456 {
  position:absolute;
  left:212px;
  top:196px;
  width:60px;
  height:60px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#F5F6EB;
}
#u2457 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2459 {
  position:absolute;
  left:61px;
  top:311px;
  width:360px;
  height:40px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461 {
  position:absolute;
  left:109px;
  top:313px;
  width:310px;
  height:36px;
}
#u2461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2462 {
  position:absolute;
  left:71px;
  top:316px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u2463 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2465 {
  position:absolute;
  left:61px;
  top:361px;
  width:360px;
  height:40px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2467 {
  position:absolute;
  left:109px;
  top:363px;
  width:310px;
  height:36px;
}
#u2467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2468 {
  position:absolute;
  left:71px;
  top:366px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u2469 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:61px;
  top:411px;
  width:360px;
  height:40px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2473 {
  position:absolute;
  left:109px;
  top:413px;
  width:310px;
  height:36px;
}
#u2473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2474 {
  position:absolute;
  left:71px;
  top:416px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u2475 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2476 {
  position:absolute;
  left:81px;
  top:506px;
  width:320px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2476_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2476.selected {
  opacity:0.4;
}
#u2477 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u2478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u2478 {
  position:absolute;
  left:418px;
  top:122px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2479 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u2480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2480 {
  position:absolute;
  left:490px;
  top:159px;
  width:277px;
  height:22px;
}
#u2481 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u2483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2483 {
  position:absolute;
  left:490px;
  top:125px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2484 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u2486 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u2486_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2486_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2487 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u2487_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2487_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2488 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u2494 {
  position:absolute;
  left:167px;
  top:32px;
  width:24px;
  height:27px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u2496 {
  position:absolute;
  left:201px;
  top:35px;
  width:112px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u2498_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:380px;
  height:5px;
}
#u2498 {
  position:absolute;
  left:52px;
  top:67px;
  width:377px;
  height:2px;
}
#u2499 {
  position:absolute;
  left:2px;
  top:-7px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500 {
  position:absolute;
  left:167px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u2500_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2500_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2501 {
  position:absolute;
  left:167px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u2501_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2501_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u2506 {
  position:absolute;
  left:686px;
  top:35px;
  width:102px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u2507 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u2508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2508 {
  position:absolute;
  left:652px;
  top:35px;
  width:24px;
  height:24px;
}
#u2509 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:463px;
  height:5px;
}
#u2510 {
  position:absolute;
  left:490px;
  top:67px;
  width:460px;
  height:2px;
}
#u2511 {
  position:absolute;
  left:2px;
  top:-7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512 {
  position:absolute;
  left:652px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u2512_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2512_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2513 {
  position:absolute;
  left:652px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u2513_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2513_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u2518 {
  position:absolute;
  left:1112px;
  top:35px;
  width:105px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u2519 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u2520 {
  position:absolute;
  left:1078px;
  top:36px;
  width:24px;
  height:20px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:5px;
}
#u2522 {
  position:absolute;
  left:960px;
  top:67px;
  width:375px;
  height:2px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524 {
  position:absolute;
  left:1078px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u2524_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2524_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2525 {
  position:absolute;
  left:1127px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u2525_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2525_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u2527 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u2528 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8001px;
}
#u2530 {
  position:absolute;
  left:8px;
  top:771px;
  width:1px;
  height:8000px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u2531 {
  position:absolute;
  left:8px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
