body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51022 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51023 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u51024 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u51025 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:1160px;
}
#u51026 {
  position:absolute;
  left:2px;
  top:572px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51028 {
  position:absolute;
  left:36px;
  top:230px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51029 {
  position:absolute;
  left:36px;
  top:230px;
  width:107px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51030 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u51031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51032 {
  position:absolute;
  left:36px;
  top:270px;
  width:32px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u51033 {
  position:absolute;
  left:36px;
  top:270px;
  width:83px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u51034 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u51035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51036 {
  position:absolute;
  left:36px;
  top:936px;
  width:28px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u51037 {
  position:absolute;
  left:36px;
  top:936px;
  width:102px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u51038 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u51039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u51039 {
  position:absolute;
  left:21px;
  top:964px;
  width:375px;
  height:176px;
  font-size:12px;
  line-height:24px;
}
#u51040 {
  position:absolute;
  left:16px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u51041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:195px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51041 {
  position:absolute;
  left:36px;
  top:1140px;
  width:345px;
  height:195px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51042 {
  position:absolute;
  left:2px;
  top:89px;
  width:341px;
  word-wrap:break-word;
}
#u51043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:195px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51043 {
  position:absolute;
  left:36px;
  top:711px;
  width:345px;
  height:195px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51044 {
  position:absolute;
  left:2px;
  top:89px;
  width:341px;
  word-wrap:break-word;
}
#u51045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:24px;
}
#u51045 {
  position:absolute;
  left:21px;
  top:302px;
  width:375px;
  height:176px;
  font-size:12px;
  line-height:24px;
}
#u51046 {
  position:absolute;
  left:16px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u51047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:195px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51047 {
  position:absolute;
  left:36px;
  top:506px;
  width:345px;
  height:195px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51048 {
  position:absolute;
  left:2px;
  top:89px;
  width:341px;
  word-wrap:break-word;
}
