body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5775 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5776 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u5777 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u5778 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:667px;
}
#u5779 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
}
#u5780 {
  position:absolute;
  left:36px;
  top:285px;
  width:345px;
  height:46px;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5781 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u5782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
}
#u5782 {
  position:absolute;
  left:36px;
  top:341px;
  width:345px;
  height:46px;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u5783 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u5784 {
  position:absolute;
  left:21px;
  top:419px;
  width:375px;
  height:213px;
  overflow:hidden;
  visibility:hidden;
}
#u5784_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5784_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5785 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u5786 {
  position:absolute;
  left:128px;
  top:47px;
  width:120px;
  height:120px;
}
#u5787 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5784_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5784_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5788 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u5789 {
  position:absolute;
  left:128px;
  top:47px;
  width:120px;
  height:120px;
}
#u5790 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
