body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9768 {
  position:absolute;
  left:50px;
  top:50px;
  width:1160px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9769 {
  position:absolute;
  left:36px;
  top:10px;
  width:1122px;
  word-wrap:break-word;
}
#u9770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9770 {
  position:absolute;
  left:68px;
  top:67px;
  width:7px;
  height:4px;
}
#u9771 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:21px;
}
#u9772 {
  position:absolute;
  left:50px;
  top:87px;
  width:1160px;
  height:95px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:21px;
}
#u9773 {
  position:absolute;
  left:16px;
  top:16px;
  width:1128px;
  word-wrap:break-word;
}
#u9774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9775 {
  position:absolute;
  left:50px;
  top:181px;
  width:1160px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9776 {
  position:absolute;
  left:36px;
  top:10px;
  width:1122px;
  word-wrap:break-word;
}
#u9777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9777 {
  position:absolute;
  left:68px;
  top:198px;
  width:7px;
  height:4px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u9778 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9780 {
  position:absolute;
  left:50px;
  top:218px;
  width:1160px;
  height:38px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9781 {
  position:absolute;
  left:36px;
  top:10px;
  width:1122px;
  word-wrap:break-word;
}
#u9782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u9782 {
  position:absolute;
  left:68px;
  top:235px;
  width:7px;
  height:4px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u9783 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
