body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51887 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51888 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u51889 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u51890 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:667px;
}
#u51891 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51894 {
  position:absolute;
  left:21px;
  top:192px;
  width:125px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51895 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u51896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51896 {
  position:absolute;
  left:145px;
  top:192px;
  width:127px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51897 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u51898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51898 {
  position:absolute;
  left:271px;
  top:192px;
  width:125px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51899 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
