body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u45428 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u45429 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u45430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u45430 {
  position:absolute;
  left:10px;
  top:3200px;
  width:1280px;
  height:1px;
}
#u45431 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:364px;
}
#u45432 {
  position:absolute;
  left:170px;
  top:150px;
  width:960px;
  height:364px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45433 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:555px;
}
#u45434 {
  position:absolute;
  left:494px;
  top:545px;
  width:312px;
  height:555px;
}
#u45435 {
  position:absolute;
  left:2px;
  top:270px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:224px;
}
#u45436 {
  position:absolute;
  left:170px;
  top:1130px;
  width:960px;
  height:224px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45437 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:152px;
}
#u45438 {
  position:absolute;
  left:170px;
  top:1380px;
  width:960px;
  height:152px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45439 {
  position:absolute;
  left:10px;
  top:6px;
  width:940px;
  word-wrap:break-word;
}
#u45440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:560px;
}
#u45440 {
  position:absolute;
  left:170px;
  top:1550px;
  width:960px;
  height:560px;
  font-size:14px;
  line-height:28px;
}
#u45441 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:555px;
}
#u45444 {
  position:absolute;
  left:494px;
  top:2140px;
  width:312px;
  height:555px;
}
#u45445 {
  position:absolute;
  left:2px;
  top:270px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:448px;
}
#u45446 {
  position:absolute;
  left:170px;
  top:2720px;
  width:960px;
  height:448px;
  font-size:14px;
  line-height:28px;
}
#u45447 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
