body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:897px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u41317 {
  position:absolute;
  left:78px;
  top:360px;
  width:428px;
  height:760px;
}
#u41318 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u41319 {
  position:absolute;
  left:547px;
  top:360px;
  width:428px;
  height:760px;
}
#u41320 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:25px;
}
#u41321 {
  position:absolute;
  left:78px;
  top:1181px;
  width:428px;
  height:25px;
  text-decoration:underline;
  color:#108EE9;
}
#u41322 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  word-wrap:break-word;
}
#u41323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:860px;
}
#u41323 {
  position:absolute;
  left:78px;
  top:1717px;
  width:681px;
  height:860px;
}
#u41324 {
  position:absolute;
  left:2px;
  top:422px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:493px;
}
#u41325 {
  position:absolute;
  left:78px;
  top:1224px;
  width:679px;
  height:493px;
}
#u41326 {
  position:absolute;
  left:2px;
  top:238px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u41327 {
  position:absolute;
  left:78px;
  top:2651px;
  width:428px;
  height:760px;
}
#u41328 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u41329 {
  position:absolute;
  left:541px;
  top:2651px;
  width:428px;
  height:760px;
}
#u41330 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u41331 {
  position:absolute;
  left:78px;
  top:3473px;
  width:428px;
  height:760px;
}
#u41332 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u41333 {
  position:absolute;
  left:78px;
  top:4286px;
  width:428px;
  height:760px;
}
#u41334 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u41335 {
  position:absolute;
  left:78px;
  top:19px;
  width:379px;
  height:247px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u41336 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
