body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u45797 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u45798 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u45799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u45799 {
  position:absolute;
  left:10px;
  top:2600px;
  width:1280px;
  height:1px;
}
#u45800 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:56px;
}
#u45801 {
  position:absolute;
  left:170px;
  top:150px;
  width:960px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45802 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:812px;
}
#u45803 {
  position:absolute;
  left:170px;
  top:355px;
  width:960px;
  height:812px;
  font-size:14px;
  line-height:28px;
}
#u45804 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45806 {
  position:absolute;
  left:328px;
  top:240px;
  width:74px;
  height:74px;
}
#u45807 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45808 {
  position:absolute;
  left:423px;
  top:240px;
  width:74px;
  height:74px;
}
#u45809 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45810 {
  position:absolute;
  left:518px;
  top:240px;
  width:74px;
  height:74px;
}
#u45811 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45812 {
  position:absolute;
  left:613px;
  top:240px;
  width:74px;
  height:74px;
}
#u45813 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45814 {
  position:absolute;
  left:708px;
  top:240px;
  width:74px;
  height:74px;
}
#u45815 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45816 {
  position:absolute;
  left:803px;
  top:240px;
  width:74px;
  height:74px;
}
#u45817 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45818 {
  position:absolute;
  left:898px;
  top:240px;
  width:74px;
  height:74px;
}
#u45819 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:28px;
}
#u45820 {
  position:absolute;
  left:170px;
  top:1220px;
  width:960px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45821 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u45822 {
  position:absolute;
  left:170px;
  top:1327px;
  width:960px;
  height:1px;
}
#u45823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45824 {
  position:absolute;
  left:170px;
  top:1300px;
  width:574px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45825 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u45826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45826 {
  position:absolute;
  left:744px;
  top:1300px;
  width:384px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45827 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u45828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45828 {
  position:absolute;
  left:170px;
  top:1338px;
  width:574px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45829 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u45830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45830 {
  position:absolute;
  left:744px;
  top:1338px;
  width:384px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45831 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u45832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45832 {
  position:absolute;
  left:170px;
  top:1376px;
  width:574px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45833 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u45834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45834 {
  position:absolute;
  left:744px;
  top:1376px;
  width:384px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45835 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u45836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45836 {
  position:absolute;
  left:170px;
  top:1414px;
  width:574px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45837 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u45838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45838 {
  position:absolute;
  left:744px;
  top:1414px;
  width:384px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45839 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u45840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45840 {
  position:absolute;
  left:170px;
  top:1452px;
  width:574px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45841 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u45842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45842 {
  position:absolute;
  left:744px;
  top:1452px;
  width:384px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45843 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u45844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45844 {
  position:absolute;
  left:170px;
  top:1490px;
  width:574px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45845 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u45846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45846 {
  position:absolute;
  left:744px;
  top:1490px;
  width:384px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45847 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u45848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:140px;
}
#u45848 {
  position:absolute;
  left:170px;
  top:1570px;
  width:960px;
  height:140px;
  font-size:14px;
  line-height:28px;
}
#u45849 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:84px;
}
#u45850 {
  position:absolute;
  left:170px;
  top:1770px;
  width:960px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45851 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u45852 {
  position:absolute;
  left:170px;
  top:1937px;
  width:960px;
  height:1px;
}
#u45853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45854 {
  position:absolute;
  left:170px;
  top:1910px;
  width:480px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45855 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45856 {
  position:absolute;
  left:650px;
  top:1910px;
  width:240px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45857 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45858 {
  position:absolute;
  left:170px;
  top:1948px;
  width:480px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45859 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45860 {
  position:absolute;
  left:650px;
  top:1948px;
  width:240px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45861 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45862 {
  position:absolute;
  left:170px;
  top:1986px;
  width:480px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45863 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45864 {
  position:absolute;
  left:650px;
  top:1986px;
  width:240px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45865 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45866 {
  position:absolute;
  left:170px;
  top:2024px;
  width:480px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45867 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45868 {
  position:absolute;
  left:650px;
  top:2024px;
  width:240px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45869 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45870 {
  position:absolute;
  left:889px;
  top:1910px;
  width:240px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45871 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45872 {
  position:absolute;
  left:889px;
  top:1948px;
  width:240px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45873 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45874 {
  position:absolute;
  left:889px;
  top:1986px;
  width:240px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45875 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45876 {
  position:absolute;
  left:889px;
  top:2024px;
  width:240px;
  height:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u45877 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:56px;
}
#u45878 {
  position:absolute;
  left:170px;
  top:2120px;
  width:960px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u45879 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:68px;
}
#u45880 {
  position:absolute;
  left:170px;
  top:2220px;
  width:960px;
  height:68px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45881 {
  position:absolute;
  left:10px;
  top:6px;
  width:940px;
  word-wrap:break-word;
}
