body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  line-height:18px;
}
#u8053 {
  position:absolute;
  left:100px;
  top:260px;
  width:480px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
  line-height:18px;
}
#u8054 {
  position:absolute;
  left:16px;
  top:7px;
  width:448px;
  word-wrap:break-word;
}
#u8055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8055 {
  position:absolute;
  left:101px;
  top:160px;
  width:81px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8056 {
  position:absolute;
  left:16px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u8057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8057 {
  position:absolute;
  left:191px;
  top:160px;
  width:81px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8058 {
  position:absolute;
  left:16px;
  top:5px;
  width:49px;
  white-space:nowrap;
}
#u8059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8059 {
  position:absolute;
  left:280px;
  top:160px;
  width:81px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8060 {
  position:absolute;
  left:16px;
  top:5px;
  width:49px;
  white-space:nowrap;
}
#u8061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 245, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8061 {
  position:absolute;
  left:380px;
  top:160px;
  width:81px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8062 {
  position:absolute;
  left:16px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u8063 {
  position:absolute;
  left:100px;
  top:211px;
  width:480px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:18px;
}
#u8064 {
  position:absolute;
  left:2px;
  top:7px;
  width:476px;
  word-wrap:break-word;
}
#u8065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8066 {
  position:absolute;
  left:102px;
  top:370px;
  width:109px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8067 {
  position:absolute;
  left:16px;
  top:6px;
  width:61px;
  white-space:nowrap;
}
#u8068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  border:none;
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8068 {
  position:absolute;
  left:182px;
  top:370px;
  width:29px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8069 {
  position:absolute;
  left:16px;
  top:6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u8070 {
  position:absolute;
  left:192px;
  top:379px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8071 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u8072 {
  position:absolute;
  left:181px;
  top:370px;
  width:1px;
  height:28px;
  opacity:0.1;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8073 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8075 {
  position:absolute;
  left:102px;
  top:405px;
  width:107px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8076 {
  position:absolute;
  left:8px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u8077 {
  position:absolute;
  left:103px;
  top:437px;
  width:107px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8078 {
  position:absolute;
  left:16px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u8079 {
  position:absolute;
  left:103px;
  top:406px;
  width:107px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8080 {
  position:absolute;
  left:16px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u8081 {
  position:absolute;
  left:102px;
  top:469px;
  width:107px;
  height:32px;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8082 {
  position:absolute;
  left:16px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8084 {
  position:absolute;
  left:102px;
  top:319px;
  width:109px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8085 {
  position:absolute;
  left:16px;
  top:6px;
  width:61px;
  white-space:nowrap;
}
#u8086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u8086 {
  position:absolute;
  left:191px;
  top:328px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8087 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u8088 {
  position:absolute;
  left:181px;
  top:319px;
  width:1px;
  height:28px;
  opacity:0.1;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8089 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -3px 3px rgba(0, 0, 0, 0.0784313725490196);
  -webkit-box-shadow:0px -3px 3px rgba(0, 0, 0, 0.0784313725490196);
  box-shadow:0px -3px 3px rgba(0, 0, 0, 0.0784313725490196);
}
#u8091 {
  position:absolute;
  left:100px;
  top:518px;
  width:1208px;
  height:64px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:24px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8093 {
  position:absolute;
  left:252px;
  top:534px;
  width:61px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8094 {
  position:absolute;
  left:16px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u8095 {
  position:absolute;
  left:321px;
  top:534px;
  width:85px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u8096 {
  position:absolute;
  left:16px;
  top:6px;
  width:53px;
  white-space:nowrap;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8099 {
  position:absolute;
  left:255px;
  top:319px;
  width:89px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8100 {
  position:absolute;
  left:16px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u8101 {
  position:absolute;
  left:324px;
  top:328px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8102 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8104 {
  position:absolute;
  left:255px;
  top:352px;
  width:88px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8105 {
  position:absolute;
  left:8px;
  top:40px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u8106 {
  position:absolute;
  left:256px;
  top:384px;
  width:88px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8107 {
  position:absolute;
  left:16px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u8108 {
  position:absolute;
  left:256px;
  top:353px;
  width:88px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8109 {
  position:absolute;
  left:16px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u8110 {
  position:absolute;
  left:255px;
  top:416px;
  width:88px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u8111 {
  position:absolute;
  left:16px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8112 {
  position:absolute;
  left:102px;
  top:110px;
  width:117px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u8113 {
  position:absolute;
  left:16px;
  top:8px;
  width:85px;
  white-space:nowrap;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u8114 {
  position:absolute;
  left:229px;
  top:110px;
  width:124px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:21px;
}
#u8115 {
  position:absolute;
  left:16px;
  top:6px;
  width:92px;
  white-space:nowrap;
}
