body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-55px;
  width:252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8404 {
  position:absolute;
  left:100px;
  top:97px;
  width:69px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8405 {
  position:absolute;
  left:16px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u8406 {
  position:absolute;
  left:100px;
  top:103px;
  width:23px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8407 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8406_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u8408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8409 {
  position:absolute;
  left:169px;
  top:103px;
  width:23px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8410 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8409_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u8411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8411 {
  position:absolute;
  left:169px;
  top:97px;
  width:69px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u8412 {
  position:absolute;
  left:16px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u8413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8414 {
  position:absolute;
  left:238px;
  top:103px;
  width:23px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8415 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8414_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u8416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D8D8D8;
  line-height:18px;
}
#u8416 {
  position:absolute;
  left:238px;
  top:97px;
  width:69px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D8D8D8;
  line-height:18px;
}
#u8417 {
  position:absolute;
  left:16px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u8418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u8418 {
  position:absolute;
  left:55px;
  top:97px;
  width:45px;
  height:52px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u8419 {
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
