body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4465 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4466 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u4467 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u4468 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:667px;
}
#u4469 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:241px;
}
#u4471 {
  position:absolute;
  left:20px;
  top:232px;
  width:375px;
  height:240px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.4);
}
#u4472 {
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4473 {
  position:absolute;
  left:32px;
  top:248px;
  width:340px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4474 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u4475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u4475 {
  position:absolute;
  left:39px;
  top:283px;
  width:79px;
  height:79px;
  font-size:14px;
  color:#BCBCBC;
}
#u4476 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u4477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u4477 {
  position:absolute;
  left:126px;
  top:283px;
  width:79px;
  height:79px;
  font-size:14px;
  color:#BCBCBC;
}
#u4478 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u4479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u4479 {
  position:absolute;
  left:214px;
  top:283px;
  width:79px;
  height:79px;
  font-size:14px;
  color:#BCBCBC;
}
#u4480 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u4481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.4);
  text-align:right;
}
#u4481 {
  position:absolute;
  left:227px;
  top:248px;
  width:153px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.4);
  text-align:right;
}
#u4482 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u4483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u4483 {
  position:absolute;
  left:301px;
  top:283px;
  width:79px;
  height:79px;
  font-size:14px;
  color:#BCBCBC;
}
#u4484 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u4485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u4485 {
  position:absolute;
  left:39px;
  top:370px;
  width:79px;
  height:79px;
  font-size:14px;
  color:#BCBCBC;
}
#u4486 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u4487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u4487 {
  position:absolute;
  left:126px;
  top:370px;
  width:79px;
  height:79px;
  font-size:14px;
  color:#BCBCBC;
}
#u4488 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u4489 {
  position:absolute;
  left:303px;
  top:283px;
  width:79px;
  height:79px;
  opacity:0.8;
  font-size:18px;
  color:#BCBCBC;
}
#u4490 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4491 {
  position:absolute;
  left:331px;
  top:311px;
  width:24px;
  height:24px;
}
#u4492 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4493 {
  position:absolute;
  left:39px;
  top:372px;
  width:79px;
  height:79px;
  opacity:0.8;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4494 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u4495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4495 {
  position:absolute;
  left:148px;
  top:394px;
  width:36px;
  height:36px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
