body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u46792 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u46793 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u46794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u46794 {
  position:absolute;
  left:10px;
  top:960px;
  width:1280px;
  height:1px;
}
#u46795 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46799 {
  position:absolute;
  left:462px;
  top:141px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46800 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u46801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46801 {
  position:absolute;
  left:462px;
  top:141px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46802 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u46803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u46803 {
  position:absolute;
  left:463px;
  top:142px;
  width:375px;
  height:666px;
}
#u46804 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
