body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48605 {
  position:absolute;
  left:52px;
  top:92px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48606 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u48607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48607 {
  position:absolute;
  left:52px;
  top:92px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48608 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u48609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48609 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:64px;
}
#u48610 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u48611 {
  position:absolute;
  left:66px;
  top:124px;
  width:24px;
  height:23px;
}
#u48612 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u48613 {
  position:absolute;
  left:208px;
  top:125px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u48614 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u48615 {
  position:absolute;
  left:53px;
  top:709px;
  width:375px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#34352C;
}
#u48616 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u48617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u48617 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:24px;
}
#u48618 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u48619 {
  position:absolute;
  left:418px;
  top:374px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u48620 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u48621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48621 {
  position:absolute;
  left:495px;
  top:379px;
  width:113px;
  height:22px;
}
#u48622 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u48623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48623 {
  position:absolute;
  left:454px;
  top:377px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u48624 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u48625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u48625 {
  position:absolute;
  left:417px;
  top:716px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u48626 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u48627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48627 {
  position:absolute;
  left:494px;
  top:721px;
  width:420px;
  height:66px;
}
#u48628 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u48629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48629 {
  position:absolute;
  left:453px;
  top:719px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u48630 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u48632 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u48632_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48632_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48633 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u48633_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48633_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u48634 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u48635 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u48637 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u48638 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
#u48640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8px;
  background:-webkit-linear-gradient(0deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  background:linear-gradient(90deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48641 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48642 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u48643 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u48644 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
