body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13910 {
  position:absolute;
  left:100px;
  top:100px;
  width:1208px;
  height:185px;
}
#u13911 {
  position:absolute;
  left:2px;
  top:84px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u13912 {
  position:absolute;
  left:124px;
  top:168px;
  width:96px;
  height:96px;
}
#u13913 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  word-wrap:break-word;
}
#u13914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u13914 {
  position:absolute;
  left:230px;
  top:168px;
  width:200px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u13915 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13916 {
  position:absolute;
  left:230px;
  top:208px;
  width:277px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13917 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u13918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13918 {
  position:absolute;
  left:230px;
  top:240px;
  width:127px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13919 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u13920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13920 {
  position:absolute;
  left:391px;
  top:240px;
  width:71px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13921 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13922 {
  position:absolute;
  left:496px;
  top:240px;
  width:94px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u13923 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u13924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13924 {
  position:absolute;
  left:1195px;
  top:117px;
  width:89px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13925 {
  position:absolute;
  left:16px;
  top:6px;
  width:57px;
  white-space:nowrap;
}
#u13926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13926 {
  position:absolute;
  left:124px;
  top:124px;
  width:16px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u13927 {
  position:absolute;
  left:1px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u13928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u13928 {
  position:absolute;
  left:150px;
  top:124px;
  width:337px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u13929 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u13930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:333px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13931 {
  position:absolute;
  left:100px;
  top:309px;
  width:1208px;
  height:333px;
}
#u13932 {
  position:absolute;
  left:2px;
  top:158px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:32px;
}
#u13934 {
  position:absolute;
  left:124px;
  top:362px;
  width:136px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:32px;
}
#u13935 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u13936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:32px;
}
#u13936 {
  position:absolute;
  left:260px;
  top:362px;
  width:200px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  line-height:32px;
}
#u13937 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u13938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13938 {
  position:absolute;
  left:124px;
  top:325px;
  width:200px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13939 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:32px;
}
#u13940 {
  position:absolute;
  left:488px;
  top:362px;
  width:25px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:32px;
}
#u13941 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:32px;
}
#u13943 {
  position:absolute;
  left:124px;
  top:522px;
  width:136px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:32px;
}
#u13944 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u13945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:32px;
}
#u13945 {
  position:absolute;
  left:260px;
  top:522px;
  width:169px;
  height:96px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:32px;
}
#u13946 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u13947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13948 {
  position:absolute;
  left:124px;
  top:485px;
  width:340px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13949 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u13950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u13950 {
  position:absolute;
  left:124px;
  top:468px;
  width:1147px;
  height:1px;
}
#u13951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:385px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13953 {
  position:absolute;
  left:100px;
  top:666px;
  width:1208px;
  height:385px;
}
#u13954 {
  position:absolute;
  left:2px;
  top:184px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13955 {
  position:absolute;
  left:124px;
  top:690px;
  width:200px;
  height:21px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u13956 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13959 {
  position:absolute;
  left:126px;
  top:1003px;
  width:69px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13960 {
  position:absolute;
  left:16px;
  top:5px;
  width:37px;
  white-space:nowrap;
}
#u13961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13962 {
  position:absolute;
  left:126px;
  top:776px;
  width:1104px;
  height:215px;
}
#u13963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:50px;
}
#u13963 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:50px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13964 {
  position:absolute;
  left:16px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u13965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:50px;
}
#u13965 {
  position:absolute;
  left:148px;
  top:0px;
  width:237px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13966 {
  position:absolute;
  left:16px;
  top:16px;
  width:205px;
  word-wrap:break-word;
}
#u13967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:50px;
}
#u13967 {
  position:absolute;
  left:385px;
  top:0px;
  width:208px;
  height:50px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13968 {
  position:absolute;
  left:16px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u13969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:50px;
}
#u13969 {
  position:absolute;
  left:593px;
  top:0px;
  width:262px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13970 {
  position:absolute;
  left:16px;
  top:16px;
  width:230px;
  word-wrap:break-word;
}
#u13971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:50px;
}
#u13971 {
  position:absolute;
  left:855px;
  top:0px;
  width:244px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13972 {
  position:absolute;
  left:16px;
  top:16px;
  width:212px;
  word-wrap:break-word;
}
#u13973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u13973 {
  position:absolute;
  left:0px;
  top:50px;
  width:148px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13974 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u13975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u13975 {
  position:absolute;
  left:148px;
  top:50px;
  width:237px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13976 {
  position:absolute;
  left:16px;
  top:11px;
  width:205px;
  word-wrap:break-word;
}
#u13977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u13977 {
  position:absolute;
  left:385px;
  top:50px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13978 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u13979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u13979 {
  position:absolute;
  left:593px;
  top:50px;
  width:262px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13980 {
  position:absolute;
  left:16px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u13981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u13981 {
  position:absolute;
  left:855px;
  top:50px;
  width:244px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13982 {
  position:absolute;
  left:16px;
  top:11px;
  width:212px;
  word-wrap:break-word;
}
#u13983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u13983 {
  position:absolute;
  left:0px;
  top:90px;
  width:148px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13984 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u13985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u13985 {
  position:absolute;
  left:148px;
  top:90px;
  width:237px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13986 {
  position:absolute;
  left:16px;
  top:11px;
  width:205px;
  word-wrap:break-word;
}
#u13987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u13987 {
  position:absolute;
  left:385px;
  top:90px;
  width:208px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13988 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u13989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u13989 {
  position:absolute;
  left:593px;
  top:90px;
  width:262px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13990 {
  position:absolute;
  left:16px;
  top:12px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u13991 {
  position:absolute;
  left:855px;
  top:90px;
  width:244px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13992 {
  position:absolute;
  left:16px;
  top:11px;
  width:212px;
  word-wrap:break-word;
}
#u13993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u13993 {
  position:absolute;
  left:0px;
  top:130px;
  width:148px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13994 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u13995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u13995 {
  position:absolute;
  left:148px;
  top:130px;
  width:237px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13996 {
  position:absolute;
  left:16px;
  top:11px;
  width:205px;
  word-wrap:break-word;
}
#u13997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u13997 {
  position:absolute;
  left:385px;
  top:130px;
  width:208px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13998 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u13999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u13999 {
  position:absolute;
  left:593px;
  top:130px;
  width:262px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14000 {
  position:absolute;
  left:16px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u14001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u14001 {
  position:absolute;
  left:855px;
  top:130px;
  width:244px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14002 {
  position:absolute;
  left:16px;
  top:11px;
  width:212px;
  word-wrap:break-word;
}
#u14003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u14003 {
  position:absolute;
  left:0px;
  top:170px;
  width:148px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14004 {
  position:absolute;
  left:16px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u14005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u14005 {
  position:absolute;
  left:148px;
  top:170px;
  width:237px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14006 {
  position:absolute;
  left:16px;
  top:11px;
  width:205px;
  word-wrap:break-word;
}
#u14007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u14007 {
  position:absolute;
  left:385px;
  top:170px;
  width:208px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14008 {
  position:absolute;
  left:16px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u14009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
}
#u14009 {
  position:absolute;
  left:593px;
  top:170px;
  width:262px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14010 {
  position:absolute;
  left:16px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u14011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u14011 {
  position:absolute;
  left:855px;
  top:170px;
  width:244px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14012 {
  position:absolute;
  left:16px;
  top:11px;
  width:212px;
  word-wrap:break-word;
}
#u14013 {
  position:absolute;
  left:1224px;
  top:776px;
  width:55px;
  height:215px;
}
#u14014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14014 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14015 {
  position:absolute;
  left:16px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14016 {
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:40px;
  font-family:'iconfont', 'iconfont Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u14017 {
  position:absolute;
  left:16px;
  top:12px;
  width:18px;
  word-wrap:break-word;
}
#u14018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14018 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:40px;
  font-family:'iconfont', 'iconfont Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u14019 {
  position:absolute;
  left:16px;
  top:12px;
  width:18px;
  word-wrap:break-word;
}
#u14020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14020 {
  position:absolute;
  left:0px;
  top:130px;
  width:50px;
  height:40px;
  font-family:'iconfont', 'iconfont Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u14021 {
  position:absolute;
  left:16px;
  top:12px;
  width:18px;
  word-wrap:break-word;
}
#u14022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14022 {
  position:absolute;
  left:0px;
  top:170px;
  width:50px;
  height:40px;
  font-family:'iconfont', 'iconfont Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u14023 {
  position:absolute;
  left:16px;
  top:12px;
  width:18px;
  word-wrap:break-word;
}
#u14024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:1000px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14025 {
  position:absolute;
  left:684px;
  top:476px;
  width:8px;
  height:1000px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14026 {
  position:absolute;
  left:2px;
  top:492px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:338px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14027 {
  position:absolute;
  left:684px;
  top:808px;
  width:8px;
  height:338px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14028 {
  position:absolute;
  left:2px;
  top:161px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(62, 163, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u14031 {
  position:absolute;
  left:719px;
  top:866px;
  width:262px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u14032 {
  position:absolute;
  left:8px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u14033 {
  position:absolute;
  left:961px;
  top:881px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14034 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u14037 {
  position:absolute;
  left:719px;
  top:904px;
  width:262px;
  height:160px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u14038 {
  position:absolute;
  left:8px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
}
#u14040 {
  position:absolute;
  left:722px;
  top:908px;
  width:255px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u14041 {
  position:absolute;
  left:2px;
  top:8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(62, 163, 236, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u14042 {
  position:absolute;
  left:724px;
  top:910px;
  width:251px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u14043 {
  position:absolute;
  left:8px;
  top:6px;
  width:235px;
  word-wrap:break-word;
}
#u14044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u14044 {
  position:absolute;
  left:956px;
  top:918px;
  width:13px;
  height:13px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u14045 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:32px;
}
#u14046 {
  position:absolute;
  left:721px;
  top:967px;
  width:259px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u14047 {
  position:absolute;
  left:16px;
  top:8px;
  width:227px;
  word-wrap:break-word;
}
#u14048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:32px;
}
#u14048 {
  position:absolute;
  left:721px;
  top:937px;
  width:259px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u14049 {
  position:absolute;
  left:16px;
  top:8px;
  width:227px;
  word-wrap:break-word;
}
#u14050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:32px;
}
#u14050 {
  position:absolute;
  left:721px;
  top:999px;
  width:259px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u14051 {
  position:absolute;
  left:16px;
  top:8px;
  width:227px;
  word-wrap:break-word;
}
#u14052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:32px;
}
#u14052 {
  position:absolute;
  left:721px;
  top:1031px;
  width:259px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u14053 {
  position:absolute;
  left:16px;
  top:8px;
  width:227px;
  word-wrap:break-word;
}
#u14054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u14054 {
  position:absolute;
  left:960px;
  top:980px;
  width:8px;
  height:8px;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#108DE9;
}
#u14055 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u14056 {
  position:absolute;
  left:724px;
  top:875px;
  width:123px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14057 {
  position:absolute;
  left:8px;
  top:1px;
  width:107px;
  white-space:nowrap;
}
#u14058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u14059 {
  position:absolute;
  left:126px;
  top:754px;
  width:1024px;
  height:1px;
}
#u14060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108DE9;
  text-align:left;
}
#u14061 {
  position:absolute;
  left:126px;
  top:727px;
  width:85px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108DE9;
  text-align:left;
}
#u14062 {
  position:absolute;
  left:24px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u14063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
}
#u14063 {
  position:absolute;
  left:211px;
  top:727px;
  width:85px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
}
#u14064 {
  position:absolute;
  left:24px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u14065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u14065 {
  position:absolute;
  left:296px;
  top:727px;
  width:97px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u14066 {
  position:absolute;
  left:24px;
  top:4px;
  width:49px;
  white-space:nowrap;
}
