body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:89px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9553 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u9554 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u9555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u9555 {
  position:absolute;
  left:0px;
  top:30px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u9556 {
  position:absolute;
  left:2px;
  top:3px;
  width:31px;
  word-wrap:break-word;
}
#u9557 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9558 {
  position:absolute;
  left:0px;
  top:64px;
  width:16px;
  height:16px;
}
#u9559 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9560 {
  position:absolute;
  left:12px;
  top:65px;
  width:6px;
  height:6px;
}
#u9561 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9562 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u9563 {
  position:absolute;
  left:34px;
  top:64px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u9564 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9565 {
  position:absolute;
  left:83px;
  top:65px;
  width:6px;
  height:6px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u9566 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
