body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u46672 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u46673 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u46674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u46674 {
  position:absolute;
  left:10px;
  top:960px;
  width:1280px;
  height:1px;
}
#u46675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:321px;
}
#u46677 {
  position:absolute;
  left:490px;
  top:159px;
  width:320px;
  height:321px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u46678 {
  position:absolute;
  left:2px;
  top:152px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u46679 {
  position:absolute;
  left:495px;
  top:430px;
  width:311px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u46680 {
  position:absolute;
  left:2px;
  top:13px;
  width:307px;
  word-wrap:break-word;
}
#u46681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u46681 {
  position:absolute;
  left:495px;
  top:240px;
  width:311px;
  height:180px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u46682 {
  position:absolute;
  left:2px;
  top:82px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46683 {
  position:absolute;
  left:510px;
  top:250px;
  width:50px;
  height:50px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u46684 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u46685 {
  position:absolute;
  left:570px;
  top:250px;
  width:229px;
  height:64px;
  font-size:11px;
  color:#666666;
}
#u46686 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u46687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u46687 {
  position:absolute;
  left:495px;
  top:330px;
  width:311px;
  height:1px;
}
#u46688 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46689 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46690 {
  position:absolute;
  left:521px;
  top:349px;
  width:28px;
  height:28px;
}
#u46691 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46692 {
  position:absolute;
  left:513px;
  top:380px;
  width:44px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46693 {
  position:absolute;
  left:0px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u46694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46695 {
  position:absolute;
  left:596px;
  top:349px;
  width:28px;
  height:28px;
}
#u46696 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46697 {
  position:absolute;
  left:588px;
  top:380px;
  width:44px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46698 {
  position:absolute;
  left:0px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u46699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46700 {
  position:absolute;
  left:671px;
  top:349px;
  width:28px;
  height:28px;
}
#u46701 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46702 {
  position:absolute;
  left:663px;
  top:380px;
  width:44px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46703 {
  position:absolute;
  left:0px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u46704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46705 {
  position:absolute;
  left:746px;
  top:349px;
  width:28px;
  height:28px;
}
#u46706 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46707 {
  position:absolute;
  left:738px;
  top:380px;
  width:44px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u46708 {
  position:absolute;
  left:0px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
