body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4447 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4448 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u4449 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u4450 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:667px;
}
#u4451 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4452_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:313px;
  height:5px;
}
#u4452 {
  position:absolute;
  left:54px;
  top:252px;
  width:310px;
  height:2px;
}
#u4453 {
  position:absolute;
  left:2px;
  top:-7px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4454_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:131px;
  height:5px;
}
#u4454 {
  position:absolute;
  left:204px;
  top:317px;
  width:128px;
  height:2px;
}
#u4455 {
  position:absolute;
  left:2px;
  top:-7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u4456 {
  position:absolute;
  left:43px;
  top:239px;
  width:28px;
  height:28px;
}
#u4457 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4458_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:5px;
}
#u4458 {
  position:absolute;
  left:50px;
  top:317px;
  width:160px;
  height:2px;
}
#u4459 {
  position:absolute;
  left:2px;
  top:-7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u4460 {
  position:absolute;
  left:188px;
  top:304px;
  width:28px;
  height:28px;
}
#u4461 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#888888;
}
#u4462 {
  position:absolute;
  left:345px;
  top:310px;
  width:29px;
  height:19px;
  color:#888888;
}
#u4463 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
