body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-120px;
  width:746px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u9751 {
  position:absolute;
  left:468px;
  top:285px;
  width:10px;
  height:10px;
}
#u9752 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9753 {
  position:absolute;
  left:482px;
  top:287px;
  width:6px;
  height:6px;
}
#u9754 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9755 {
  position:absolute;
  left:492px;
  top:287px;
  width:6px;
  height:6px;
}
#u9756 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9757 {
  position:absolute;
  left:502px;
  top:287px;
  width:6px;
  height:6px;
}
#u9758 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9759 {
  position:absolute;
  left:512px;
  top:287px;
  width:6px;
  height:6px;
}
#u9760 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:170px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u9762 {
  position:absolute;
  left:120px;
  top:97px;
  width:746px;
  height:170px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u9763 {
  position:absolute;
  left:16px;
  top:22px;
  width:714px;
  word-wrap:break-word;
}
#u9764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u9764 {
  position:absolute;
  left:477px;
  top:156px;
  width:36px;
  height:38px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u9765 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
