body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-117px;
  width:1165px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:26px;
}
#u15449 {
  position:absolute;
  left:117px;
  top:569px;
  width:724px;
  height:26px;
}
#u15450 {
  position:absolute;
  left:2px;
  top:5px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:430px;
}
#u15451 {
  position:absolute;
  left:137px;
  top:154px;
  width:678px;
  height:430px;
}
#u15452 {
  position:absolute;
  left:2px;
  top:207px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:28px;
}
#u15453 {
  position:absolute;
  left:916px;
  top:567px;
  width:366px;
  height:28px;
}
#u15454 {
  position:absolute;
  left:2px;
  top:6px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u15455 {
  position:absolute;
  left:137px;
  top:705px;
  width:331px;
  height:120px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u15456 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u15457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#EB2455;
}
#u15457 {
  position:absolute;
  left:137px;
  top:71px;
  width:411px;
  height:41px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#EB2455;
}
#u15458 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u15459_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15459 {
  position:absolute;
  left:117px;
  top:165px;
  width:30px;
  height:30px;
}
#u15460 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15461_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15461 {
  position:absolute;
  left:231px;
  top:261px;
  width:30px;
  height:30px;
}
#u15462 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:430px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:18px;
}
#u15463 {
  position:absolute;
  left:921px;
  top:154px;
  width:348px;
  height:430px;
  text-align:left;
  line-height:18px;
}
#u15464 {
  position:absolute;
  left:40px;
  top:40px;
  width:268px;
  word-wrap:break-word;
}
#u15465_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15465 {
  position:absolute;
  left:412px;
  top:235px;
  width:30px;
  height:30px;
}
#u15466 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15467_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15467 {
  position:absolute;
  left:356px;
  top:284px;
  width:30px;
  height:30px;
}
#u15468 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15469_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15469 {
  position:absolute;
  left:728px;
  top:529px;
  width:30px;
  height:30px;
}
#u15470 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15471_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u15471 {
  position:absolute;
  left:252px;
  top:529px;
  width:30px;
  height:30px;
}
#u15472 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
}
#u15473 {
  position:absolute;
  left:1008px;
  top:508px;
  width:148px;
  height:51px;
}
#u15474 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
