body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u45882 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u45883 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u45884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u45884 {
  position:absolute;
  left:10px;
  top:1600px;
  width:1280px;
  height:1px;
}
#u45885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:56px;
}
#u45886 {
  position:absolute;
  left:170px;
  top:150px;
  width:960px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u45887 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
}
#u45888 {
  position:absolute;
  left:471px;
  top:240px;
  width:358px;
  height:50px;
}
#u45889 {
  position:absolute;
  left:2px;
  top:17px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:308px;
}
#u45890 {
  position:absolute;
  left:170px;
  top:330px;
  width:960px;
  height:308px;
  font-size:14px;
  line-height:28px;
}
#u45891 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:89px;
}
#u45892 {
  position:absolute;
  left:586px;
  top:680px;
  width:129px;
  height:89px;
}
#u45893 {
  position:absolute;
  left:2px;
  top:36px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:336px;
}
#u45894 {
  position:absolute;
  left:171px;
  top:810px;
  width:960px;
  height:336px;
  font-size:14px;
  line-height:28px;
}
#u45895 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u45896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u45896 {
  position:absolute;
  left:171px;
  top:1237px;
  width:960px;
  height:1px;
}
#u45897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45898 {
  position:absolute;
  left:171px;
  top:1210px;
  width:480px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45899 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45900 {
  position:absolute;
  left:651px;
  top:1182px;
  width:240px;
  height:56px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45901 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45902 {
  position:absolute;
  left:171px;
  top:1248px;
  width:480px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45903 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45904 {
  position:absolute;
  left:651px;
  top:1248px;
  width:240px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45905 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45906 {
  position:absolute;
  left:169px;
  top:1314px;
  width:480px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45907 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45908 {
  position:absolute;
  left:649px;
  top:1314px;
  width:240px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45909 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45910 {
  position:absolute;
  left:169px;
  top:1380px;
  width:480px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45911 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u45912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45912 {
  position:absolute;
  left:649px;
  top:1380px;
  width:240px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45913 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45914 {
  position:absolute;
  left:890px;
  top:1210px;
  width:240px;
  height:28px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFAF3F;
  line-height:28px;
}
#u45915 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45916 {
  position:absolute;
  left:890px;
  top:1248px;
  width:240px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45917 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45918 {
  position:absolute;
  left:888px;
  top:1314px;
  width:240px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45919 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(150, 200, 244, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u45920 {
  position:absolute;
  left:888px;
  top:1380px;
  width:240px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u45921 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
