body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48346 {
  position:absolute;
  left:52px;
  top:92px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48347 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u48348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48348 {
  position:absolute;
  left:52px;
  top:92px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u48349 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u48350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48350 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:64px;
}
#u48351 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u48352 {
  position:absolute;
  left:209px;
  top:126px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u48353 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u48354 {
  position:absolute;
  left:66px;
  top:124px;
  width:24px;
  height:23px;
}
#u48355 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u48356 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:24px;
}
#u48357 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48358 {
  position:absolute;
  left:53px;
  top:157px;
  width:375px;
  height:601px;
}
#u48358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
}
#u48360 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u48360_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48360_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48361 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u48361_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48361_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u48362 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u48363 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u48365 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u48366 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
#u48368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8px;
  background:-webkit-linear-gradient(0deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  background:linear-gradient(90deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48369 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48370 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u48371 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u48372 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
