body {
  margin:0px;
  background-color:rgba(70, 155, 234, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#469BEA;
}
#u46872 {
  position:absolute;
  left:10px;
  top:20px;
  width:1280px;
  height:80px;
  font-size:24px;
  color:#469BEA;
}
#u46873 {
  position:absolute;
  left:2px;
  top:24px;
  width:1276px;
  word-wrap:break-word;
}
#u46874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u46874 {
  position:absolute;
  left:10px;
  top:960px;
  width:1280px;
  height:1px;
}
#u46875 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46880 {
  position:absolute;
  left:462px;
  top:141px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46881 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u46882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46882 {
  position:absolute;
  left:462px;
  top:141px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u46883 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u46884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46884 {
  position:absolute;
  left:463px;
  top:142px;
  width:375px;
  height:64px;
}
#u46885 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u46886 {
  position:absolute;
  left:476px;
  top:173px;
  width:24px;
  height:23px;
}
#u46887 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u46888 {
  position:absolute;
  left:618px;
  top:175px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u46889 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u46890 {
  position:absolute;
  left:463px;
  top:142px;
  width:375px;
  height:24px;
}
#u46891 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u46892 {
  position:absolute;
  left:798px;
  top:174px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u46893 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46894 {
  position:absolute;
  left:478px;
  top:216px;
  width:168px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46895 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u46896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46896 {
  position:absolute;
  left:468px;
  top:252px;
  width:5px;
  height:5px;
}
#u46897 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u46898 {
  position:absolute;
  left:478px;
  top:243px;
  width:345px;
  height:48px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u46899 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u46900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u46900 {
  position:absolute;
  left:478px;
  top:291px;
  width:253px;
  height:17px;
  font-size:12px;
}
#u46901 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u46902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46902 {
  position:absolute;
  left:478px;
  top:318px;
  width:40px;
  height:40px;
}
#u46903 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u46904 {
  position:absolute;
  left:524px;
  top:318px;
  width:72px;
  height:17px;
  font-size:12px;
}
#u46905 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u46906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46906 {
  position:absolute;
  left:524px;
  top:341px;
  width:153px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46907 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u46908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u46908 {
  position:absolute;
  left:478px;
  top:368px;
  width:345px;
  height:1px;
}
#u46909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46910 {
  position:absolute;
  left:478px;
  top:382px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u46911 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46912 {
  position:absolute;
  left:508px;
  top:389px;
  width:22px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46913 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u46914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46914 {
  position:absolute;
  left:713px;
  top:389px;
  width:79px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46915 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u46916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46916 {
  position:absolute;
  left:802px;
  top:382px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u46917 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u46918 {
  position:absolute;
  left:463px;
  top:422px;
  width:375px;
  height:1px;
}
#u46919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46920 {
  position:absolute;
  left:463px;
  top:460px;
  width:374px;
  height:180px;
}
#u46921 {
  position:absolute;
  left:2px;
  top:82px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46922 {
  position:absolute;
  left:478px;
  top:433px;
  width:168px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46923 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u46924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u46925 {
  position:absolute;
  left:626px;
  top:553px;
  width:20px;
  height:11px;
}
#u46926 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u46927 {
  position:absolute;
  left:631px;
  top:537px;
  width:8px;
  height:8px;
}
#u46928 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u46929 {
  position:absolute;
  left:636px;
  top:542px;
  width:40px;
  height:22px;
}
#u46930 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46931 {
  position:absolute;
  left:468px;
  top:659px;
  width:5px;
  height:5px;
}
#u46932 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u46933 {
  position:absolute;
  left:478px;
  top:650px;
  width:345px;
  height:48px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u46934 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u46935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u46935 {
  position:absolute;
  left:478px;
  top:705px;
  width:360px;
  height:34px;
  font-size:12px;
}
#u46936 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u46937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46937 {
  position:absolute;
  left:478px;
  top:754px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u46938 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46939 {
  position:absolute;
  left:508px;
  top:761px;
  width:22px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46940 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u46941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46941 {
  position:absolute;
  left:713px;
  top:761px;
  width:79px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u46942 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u46943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46943 {
  position:absolute;
  left:802px;
  top:754px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u46944 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u46945 {
  position:absolute;
  left:463px;
  top:794px;
  width:375px;
  height:1px;
}
#u46946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u46947 {
  position:absolute;
  left:478px;
  top:749px;
  width:345px;
  height:1px;
}
#u46948 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46949 {
  position:absolute;
  left:463px;
  top:206px;
  width:375px;
  height:602px;
}
#u46950 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:596px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46951 {
  position:absolute;
  left:497px;
  top:212px;
  width:340px;
  height:596px;
}
#u46952 {
  position:absolute;
  left:2px;
  top:290px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u46953 {
  position:absolute;
  left:504px;
  top:227px;
  width:24px;
  height:23px;
}
#u46954 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u46955 {
  position:absolute;
  left:643px;
  top:228px;
  width:49px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u46956 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u46957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u46957 {
  position:absolute;
  left:794px;
  top:229px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u46958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u46959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u46959 {
  position:absolute;
  left:497px;
  top:260px;
  width:340px;
  height:50px;
  text-align:left;
}
#u46960 {
  position:absolute;
  left:14px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u46961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u46961 {
  position:absolute;
  left:497px;
  top:309px;
  width:340px;
  height:50px;
  text-align:left;
}
#u46962 {
  position:absolute;
  left:14px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u46963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u46963 {
  position:absolute;
  left:497px;
  top:389px;
  width:340px;
  height:50px;
  text-align:left;
}
#u46964 {
  position:absolute;
  left:14px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u46965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u46965 {
  position:absolute;
  left:497px;
  top:438px;
  width:340px;
  height:50px;
  text-align:left;
}
#u46966 {
  position:absolute;
  left:14px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u46967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u46967 {
  position:absolute;
  left:764px;
  top:398px;
  width:59px;
  height:32px;
}
#u46968 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u46969 {
  position:absolute;
  left:766px;
  top:400px;
  width:28px;
  height:28px;
}
#u46970 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u46971 {
  position:absolute;
  left:497px;
  top:487px;
  width:340px;
  height:50px;
  text-align:left;
}
#u46972 {
  position:absolute;
  left:14px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
