body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51472 {
  position:absolute;
  left:20px;
  top:160px;
  width:377px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51473 {
  position:absolute;
  left:22px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u51474 {
  position:absolute;
  left:20px;
  top:120px;
  width:32px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u51475 {
  position:absolute;
  left:20px;
  top:192px;
  width:377px;
  height:667px;
}
#u51476 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51478 {
  position:absolute;
  left:31px;
  top:256px;
  width:300px;
  height:3px;
}
#u51479 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51480 {
  position:absolute;
  left:351px;
  top:248px;
  width:20px;
  height:20px;
}
#u51481 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51483 {
  position:absolute;
  left:31px;
  top:298px;
  width:300px;
  height:3px;
}
#u51484 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51485 {
  position:absolute;
  left:351px;
  top:290px;
  width:20px;
  height:20px;
}
#u51486 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:3px;
  background:inherit;
  background-color:rgba(26, 173, 25, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51487 {
  position:absolute;
  left:31px;
  top:298px;
  width:140px;
  height:3px;
}
#u51488 {
  position:absolute;
  left:2px;
  top:-6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51490 {
  position:absolute;
  left:31px;
  top:344px;
  width:300px;
  height:3px;
}
#u51491 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51492 {
  position:absolute;
  left:351px;
  top:336px;
  width:20px;
  height:20px;
}
#u51493 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:3px;
  background:inherit;
  background-color:rgba(26, 173, 25, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51494 {
  position:absolute;
  left:31px;
  top:344px;
  width:260px;
  height:3px;
}
#u51495 {
  position:absolute;
  left:2px;
  top:-6px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
  background:inherit;
  background-color:rgba(26, 173, 25, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u51496 {
  position:absolute;
  left:36px;
  top:386px;
  width:345px;
  height:46px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u51497 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
