body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u47959 {
  position:absolute;
  left:52px;
  top:92px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u47960 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u47961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u47961 {
  position:absolute;
  left:52px;
  top:92px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u47962 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u47963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47963 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:64px;
}
#u47964 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u47965 {
  position:absolute;
  left:66px;
  top:124px;
  width:24px;
  height:23px;
}
#u47966 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u47967 {
  position:absolute;
  left:209px;
  top:125px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#34352C;
}
#u47968 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u47969 {
  position:absolute;
  left:53px;
  top:93px;
  width:375px;
  height:24px;
}
#u47970 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47971 {
  position:absolute;
  left:383px;
  top:186px;
  width:20px;
  height:20px;
}
#u47972 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47974 {
  position:absolute;
  left:61px;
  top:175px;
  width:360px;
  height:40px;
}
#u47975 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47976 {
  position:absolute;
  left:111px;
  top:177px;
  width:308px;
  height:36px;
}
#u47976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:36px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47977 {
  position:absolute;
  left:71px;
  top:180px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u47978 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47980 {
  position:absolute;
  left:61px;
  top:233px;
  width:360px;
  height:40px;
}
#u47981 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47982 {
  position:absolute;
  left:111px;
  top:235px;
  width:308px;
  height:36px;
}
#u47982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:36px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47983 {
  position:absolute;
  left:71px;
  top:238px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#34352C;
}
#u47984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47985 {
  position:absolute;
  left:81px;
  top:291px;
  width:320px;
  height:40px;
}
#u47986 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u47987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u47987 {
  position:absolute;
  left:416px;
  top:181px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u47988 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u47989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u47989 {
  position:absolute;
  left:490px;
  top:183px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u47990 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u47991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u47991 {
  position:absolute;
  left:414px;
  top:296px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u47992 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u47993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u47993 {
  position:absolute;
  left:490px;
  top:299px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u47994 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u47995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47995 {
  position:absolute;
  left:490px;
  top:333px;
  width:419px;
  height:44px;
}
#u47996 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  word-wrap:break-word;
}
#u47997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47997 {
  position:absolute;
  left:490px;
  top:220px;
  width:419px;
  height:66px;
}
#u47998 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  word-wrap:break-word;
}
#u48000 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u48000_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48000_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48001 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u48001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u48002 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u48003 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u48005 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u48006 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
#u48008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8px;
  background:-webkit-linear-gradient(0deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  background:linear-gradient(90deg, rgba(27, 172, 235, 1) 0%, rgba(27, 172, 235, 1) 0%, rgba(212, 241, 254, 1) 100%, rgba(212, 241, 254, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48009 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48010 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u48011 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u48012 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
