body {
  margin:0px;
  background-color:rgba(245, 246, 235, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#34352C;
}
#u6106 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
  color:#34352C;
}
#u6107 {
  position:absolute;
  left:2px;
  top:12px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6108 {
  position:absolute;
  left:20px;
  top:12px;
  width:16px;
  height:16px;
}
#u6109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6110 {
  position:absolute;
  left:58px;
  top:12px;
  width:16px;
  height:16px;
}
#u6111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6112 {
  position:absolute;
  left:96px;
  top:12px;
  width:16px;
  height:16px;
}
#u6113 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#34352C;
}
#u6114 {
  position:absolute;
  left:133px;
  top:5px;
  width:800px;
  height:30px;
  color:#34352C;
}
#u6115 {
  position:absolute;
  left:2px;
  top:7px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u6116 {
  position:absolute;
  left:994px;
  top:12px;
  width:5px;
  height:16px;
}
#u6117 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u6118 {
  position:absolute;
  left:955px;
  top:12px;
  width:17px;
  height:16px;
}
#u6119 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6120 {
  position:absolute;
  left:0px;
  top:40px;
  width:1024px;
  height:768px;
}
#u6121 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u6122 {
  position:absolute;
  left:1020px;
  top:52px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6123 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u6124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6124 {
  position:absolute;
  left:1107px;
  top:57px;
  width:71px;
  height:22px;
}
#u6125 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6126 {
  position:absolute;
  left:1067px;
  top:55px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6127 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u6128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u6128 {
  position:absolute;
  left:1366px;
  top:0px;
  width:1px;
  height:768px;
  color:#C9CABB;
}
#u6129 {
  position:absolute;
  left:12px;
  top:258px;
  width:1px;
  word-wrap:break-word;
}
