body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u21923 {
  position:absolute;
  left:52px;
  top:94px;
  width:71px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u21924 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 246, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 53, 44, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u21925 {
  position:absolute;
  left:52px;
  top:94px;
  width:377px;
  height:668px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u21926 {
  position:absolute;
  left:2px;
  top:325px;
  width:373px;
  word-wrap:break-word;
}
#u21927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21927 {
  position:absolute;
  left:53px;
  top:95px;
  width:375px;
  height:64px;
}
#u21928 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u21929 {
  position:absolute;
  left:66px;
  top:126px;
  width:24px;
  height:23px;
}
#u21930 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u21931 {
  position:absolute;
  left:208px;
  top:128px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u21932 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u21933 {
  position:absolute;
  left:376px;
  top:128px;
  width:33px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D2E26;
}
#u21934 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u21935 {
  position:absolute;
  left:53px;
  top:95px;
  width:375px;
  height:24px;
}
#u21936 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u21937 {
  position:absolute;
  left:442px;
  top:112px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21938 {
  position:absolute;
  left:6px;
  top:7px;
  width:21px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:6px 8px;
  -ms-transform-origin:6px 8px;
  -moz-transform-origin:6px 8px;
  -webkit-transform-origin:6px 8px;
}
#u21939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21939 {
  position:absolute;
  left:490px;
  top:149px;
  width:442px;
  height:44px;
}
#u21940 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u21941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21941 {
  position:absolute;
  left:490px;
  top:115px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21942 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:12px 8px;
  -ms-transform-origin:12px 8px;
  -moz-transform-origin:12px 8px;
  -webkit-transform-origin:12px 8px;
}
#u21944 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1335px;
  height:40px;
  overflow:hidden;
}
#u21944_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21945 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u21945_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21945_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u21946 {
  position:absolute;
  left:40px;
  top:6px;
  width:28px;
  height:28px;
}
#u21947 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u21952 {
  position:absolute;
  left:167px;
  top:32px;
  width:24px;
  height:27px;
}
#u21953 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u21954 {
  position:absolute;
  left:201px;
  top:35px;
  width:112px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u21955 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u21956_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:380px;
  height:5px;
}
#u21956 {
  position:absolute;
  left:52px;
  top:67px;
  width:377px;
  height:2px;
}
#u21957 {
  position:absolute;
  left:2px;
  top:-7px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21958 {
  position:absolute;
  left:167px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u21958_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21959 {
  position:absolute;
  left:167px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u21959_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21959_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u21964 {
  position:absolute;
  left:686px;
  top:35px;
  width:102px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u21965 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u21966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21966 {
  position:absolute;
  left:652px;
  top:35px;
  width:24px;
  height:24px;
}
#u21967 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21968_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:463px;
  height:5px;
}
#u21968 {
  position:absolute;
  left:490px;
  top:67px;
  width:460px;
  height:2px;
}
#u21969 {
  position:absolute;
  left:2px;
  top:-7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21970 {
  position:absolute;
  left:652px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u21970_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21970_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21971 {
  position:absolute;
  left:652px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u21971_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21971_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u21976 {
  position:absolute;
  left:1112px;
  top:35px;
  width:105px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BACEB;
  text-align:center;
  line-height:normal;
}
#u21977 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u21978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u21978 {
  position:absolute;
  left:1078px;
  top:36px;
  width:24px;
  height:20px;
}
#u21979 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21980_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:5px;
}
#u21980 {
  position:absolute;
  left:960px;
  top:67px;
  width:375px;
  height:2px;
}
#u21981 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21982 {
  position:absolute;
  left:1078px;
  top:59px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u21982_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21983 {
  position:absolute;
  left:1127px;
  top:8px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u21983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:670px;
}
#u21985 {
  position:absolute;
  left:8px;
  top:92px;
  width:1px;
  height:669px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u21986 {
  position:absolute;
  left:8px;
  top:309px;
  width:1px;
  word-wrap:break-word;
}
#u21988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8001px;
}
#u21988 {
  position:absolute;
  left:8px;
  top:771px;
  width:1px;
  height:8000px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1BACEB;
  text-align:left;
}
#u21989 {
  position:absolute;
  left:8px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u21990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(176, 177, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21991 {
  position:absolute;
  left:53px;
  top:701px;
  width:375px;
  height:60px;
}
#u21992 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u21993 {
  position:absolute;
  left:87px;
  top:722px;
  width:25px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u21994 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u21995 {
  position:absolute;
  left:370px;
  top:722px;
  width:25px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u21996 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u21997 {
  position:absolute;
  left:229px;
  top:722px;
  width:25px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D2E26;
}
#u21998 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(201, 202, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u22000 {
  position:absolute;
  left:66px;
  top:169px;
  width:60px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u22000_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#EFF0DC;
}
#u22000.selected {
  opacity:0.4;
}
#u22001 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u22002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u22002 {
  position:absolute;
  left:66px;
  top:169px;
  width:353px;
  height:56px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u22003 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u22004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u22005 {
  position:absolute;
  left:53px;
  top:235px;
  width:375px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u22006 {
  position:absolute;
  left:14px;
  top:10px;
  width:359px;
  word-wrap:break-word;
}
#u22007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22007 {
  position:absolute;
  left:368px;
  top:243px;
  width:41px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22008 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u22009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:80px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22010 {
  position:absolute;
  left:81px;
  top:595px;
  width:320px;
  height:50px;
}
#u22011 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
  background:inherit;
  background-color:rgba(209, 210, 192, 1);
  border:none;
  border-radius:80px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22012 {
  position:absolute;
  left:81px;
  top:595px;
  width:182px;
  height:50px;
}
#u22013 {
  position:absolute;
  left:2px;
  top:17px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22014 {
  position:absolute;
  left:219px;
  top:598px;
  width:44px;
  height:44px;
}
#u22015 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  color:#F5F6EB;
}
#u22016 {
  position:absolute;
  left:105px;
  top:611px;
  width:43px;
  height:19px;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  color:#F5F6EB;
}
#u22017 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  color:#F5F6EB;
}
#u22018 {
  position:absolute;
  left:346px;
  top:611px;
  width:29px;
  height:19px;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  color:#F5F6EB;
}
#u22019 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u22021 {
  position:absolute;
  left:53px;
  top:320px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u22022 {
  position:absolute;
  left:20px;
  top:15px;
  width:353px;
  word-wrap:break-word;
}
#u22023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9CABB;
}
#u22023 {
  position:absolute;
  left:391px;
  top:337px;
  width:15px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9CABB;
}
#u22024 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22025 {
  position:absolute;
  left:66px;
  top:291px;
  width:29px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22026 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u22028 {
  position:absolute;
  left:53px;
  top:371px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#34352C;
  text-align:left;
}
#u22029 {
  position:absolute;
  left:20px;
  top:15px;
  width:353px;
  word-wrap:break-word;
}
#u22030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9CABB;
}
#u22030 {
  position:absolute;
  left:391px;
  top:388px;
  width:15px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9CABB;
}
#u22031 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
